#nav-wrapper {
  flex: 1;
  margin: 0;

  nav {
    &.nav-primary {
      padding: 0.75rem 0;

      #navbarSupportedContent {
        height: 100%;

        ul {
          &.navbar-nav {
            height: 100%;
            flex-wrap: nowrap;
            gap: 2.625rem;

            li {
              &.dropdown {
                padding-right: 10px;
              }

              &.menu-item {
                height: 100%;

                a {
                  &.nav-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    color: $grey-two;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding: 0;

                    &.dropdown-toggle {
                      z-index: 888;

                      &::after {
                        content: url("../../../../images/fleche.svg");
                        position: absolute;
                        border: 0;
                        margin-left: 0;
                        right: -20px;
                        top: 40%;
                        transform: translateY(-50%);
                        vertical-align: inherit;
                        transition: all 0.2s;
                      }
                    }

                    &.dropdown-toggle.show {
                      &::after {
                        content: url("../../../../images/fleche.svg");
                        top: 59%;
                        transform: translateY(-50%) rotate(180deg);
                      }
                    }

                    &.dropdown-toggle.show,
                    &:hover,
                    &.active {
                      &::after {
                        top: 59%;
                        transform: translateY(-50%) rotate(180deg);
                        transition: all 0.2s;
                      }
                    }
                  }
                }

                .dropdown-menu {
                  border: 0;
                  padding-top: 18px;
                  top: 21px;
                  border-radius: $border-radius;
                  z-index: 9;
                  background: transparent !important;

                  div {
                    padding: 16px 24px;
                    border-radius: $border-radius;
                    background-color: white;
                    transition: all ease-in-out 0.3s;
                  }

                  li {
                    &.menu-item {
                      padding: 10px 0;

                      a {
                        &.dropdown-item {
                          color: black;
                          font-size: 0.875rem;
                          font-weight: 400;
                          padding: 0;

                          &:hover,
                          &.active {
                            color: $black-one;
                            background-color: transparent;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;

    div {
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 25%);
    }
  }
}
