body {
  font-family: $poppins;
  font-weight: 400;
  color: $grey-one;

  .section {
    position: relative;
    padding: 4.25rem 0;

    &.bg-grey {
      background-color: $grey-four;
    }

    &.top-left::before,
    &.top-right::after,
    &.bottom-left .inner-section::before,
    &.bottom-right .inner-section::after {
      display: block;
      position: absolute;
      z-index: -1;
    }

    &.top-left {
      &::before {
        content: url("../../images/bg-top-left.svg");
        top: 0;
        left: 0;
      }
    }

    &.top-right {
      &::after {
        content: url("../../images/bg-top-right.svg");
        top: 0;
        right: 0;
      }
    }

    &.bottom-left .inner-section {
      &::before {
        content: url("../../images/bg-bottom-left.svg");
        bottom: 0;
        left: 0;
      }
    }

    &.bottom-right .inner-section {
      &::after {
        content: url("../../images/bg-bottom-right.svg");
        bottom: 0;
        right: 0;
      }
    }
  }

  figure {
    &.cover {
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  picture {
    &.w-100 {
      img {
        width: 100%;
      }
    }

    &.h-100 {
      img {
        height: 100%;
      }
    }

    &.img-fluid {
      img {
        height: auto;
        max-width: 100%;
      }
    }

    &.d-block {
      img {
        display: block;
      }
    }

    &.mx-auto {
      img {
        margin: 0 auto;
      }
    }
  }
}
