footer {
  color: white;
  padding: 0 0 2.5rem;
  background-color: $black-one;

  .wp-block {
    padding: 6.25rem 0 0;

    @include media-breakpoint-down(lg) {
      padding: 3.25rem 0 0;
    }

    .title {
      font-size: 0.875rem;
      font-weight: 500;
      color: white;
      text-transform: uppercase;
      margin-bottom: 1.125rem;
    }

    &.newsletter {
      .title {
        padding-bottom: 0.375rem;
      }
    }

    &.menu {
      .wp-menu {
        gap: 0.375rem;

        a {
          font-size: 0.75rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
