header {
  position: sticky;
  z-index: 999;
  top: 0;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 5%);
  background-color: white;

  .wp-logos {
    padding: 1.5rem;

    .wp-block {
      flex: 1;

      img {
        max-height: 80px;
        max-width: 100%;
        width: auto;
        height: auto;
      }

      .wp-widget {
        gap: 0.938rem;

        img {
          max-height: 100px;
        }
      }
    }
  }
}

.nav-is-stuck {
  header {
    transition: all 0.3s ease-in-out;
  }
}
