header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 5%);
  background-color: white;
  transition: all ease 0.6s;

  .wp-top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36.39px;
    color: white;
    background-color: $grey-three;

    @include media-breakpoint-down(lg) {
      height: 58px;
    }

    a.link-icon {
      color: white;
    }

    a.link {
      position: relative;
      color: white;
      border: 0;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      background-color: transparent;

      &::before {
        display: block;
        position: absolute;
        content: "";
        height: 1px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        transition: 0.2s ease-out;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    .wp-links-mobile {
      gap: 1rem;
    }

    .wp-links-desktop {
      gap: 1rem;
      font-size: 0.75rem;

      a {
        color: white;

        .fa-brands {
          font-size: 1.5rem;
        }
      }
    }
  }

  .wp-logos {
    padding: 1.5rem;

    @include media-breakpoint-down(sm) {
      padding: 0.75rem;
    }

    .wp-block {
      flex: 1;

      img {
        max-height: 80px;
        max-width: 100%;
        width: auto;
        height: auto;

        @include media-breakpoint-down(sm) {
          max-height: 45px;
        }
      }

      .wp-widget {
        color: $black-one;
        gap: 0.938rem;

        a.link {
          color: $black-one;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        figure {
          position: relative;
          overflow: hidden;
          width: 76px;
          height: 100px;

          img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            max-height: inherit;
            max-width: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.nav-hidden {
  #o-wrapper {
    transform: translateY(-100%);

    @include media-breakpoint-down(lg) {
      transform: inherit;
    }
  }
}

.nav-visible {
  #o-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease 0.6s;
    transform: translateY(0);

    @include media-breakpoint-down(lg) {
      transform: inherit;
    }
  }

  &.nav-transparent {
    #o-wrapper {
      background-color: white;
    }
  }
}
