.single {
  .wp-heading {
    margin-bottom: 0.75rem;

    figure {
      height: 596px;
      margin-bottom: 1.5rem;
    }

    h1 {
      margin-bottom: 0.75rem;
    }
  }

  .wp-widgets {
    gap: 1.5rem;
  }
}
