body {
  &.single-post {
    .category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 31px;
      color: white;
      text-transform: uppercase;
      padding: 0 10px;
      border-radius: $border-radius;
      margin-bottom: 0.75rem;
      background-color: $pink-one;
    }

    .date {
      font-family: $merriweather;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: $black-one;
      text-transform: capitalize;
    }

    .wp-article-content {
      .section {
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  &.single-recipe {
    .section {
      h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 4.5rem;
      }

      .section {
        position: relative;
        padding: 1.875rem 0;
      }
    }
  }

  &.single-magazine {
    .wp-heading-single {
      padding: 1.5rem 0;
      border-bottom: solid 0.5px $grey-five;

      .section-title {
        font-family: $merriweather;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.2rem;
      }
    }
  }
}
