.section {
  .accordion {
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);

    .accordion-item {
      border: 0;

      .accordion-header {
        border-bottom: 1px solid #e6e6e6;

        .accordion-button {
          font-family: $merriweather;
          font-size: 1.125rem;
          color: $black-one;
          padding: 1.5rem;

          &:focus-visible,
          &:focus,
          &:focus-within,
          &:not(.collapsed) {
            border: 0 !important;
            box-shadow: none !important;
            outline: none !important;
            background-color: white !important;
          }
        }
      }

      .accordion-body {
        color: $grey-six;
      }
    }
  }
}
