.card-announcement {
  padding: 1.5rem 0;
  border-bottom: 1px solid $grey-five;

  .category {
    font-weight: 600;
    text-transform: uppercase;
  }

  .title {
    font-family: $merriweather;
    font-weight: 700;
    font-size: 1.75rem;
  }

  figure {
    height: 240px;
  }

  .wp-details {
    gap: 6px;
    font-size: 0.875rem;
  }

  p {
    font-size: 0.875rem;
  }
}

.card-recipe {
  &.style-one,
  &.style-two,
  &.style-three,
  &.style-four {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    background-color: white;

    figure {
      margin-bottom: 0.375rem;
    }

    .title {
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  &.style-one {
    padding: 0.75rem 0.875rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px 0 rgb(0 0 0 / 15%);
    }

    figure {
      height: 236px;
    }
  }

  &.style-two,
  &.style-three {
    .details {
      position: relative;
      color: $black-one;
      font-size: 0.875rem;
      padding-left: 2.25rem;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 9px;
        width: 24px;
        height: 1px;
        background-color: #be9f8f;
      }
    }
  }

  &.style-two {
    padding: 0.75rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px 0 rgb(0 0 0 / 15%);
    }

    figure {
      height: 200px;
    }

    &.main {
      figure {
        height: calc(100% - 82px);
        min-height: 480px;
      }
    }
  }

  &.style-three {
    gap: 0.375rem;

    figure {
      height: 300px;
    }

    .tag {
      position: absolute;
      z-index: 88;
      left: 0;
      top: 28.5px;
      font-family: $inter;
      font-size: 0.875rem;
      font-weight: 600;
      color: white;
      padding: 8px 6px;
      border-radius: 0 5px 5px 0;
      text-transform: uppercase;
      background-color: $pink-one;
    }
  }

  &.style-four {
    gap: 0.375rem;

    figure {
      height: 133.33px;
    }

    .title {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
    }
  }
}
