.gform_wrapper {
  form {
    .gform-body {
      .gform_fields {
        label {
          font-size: 0.875rem;
          font-weight: 400;
          margin-bottom: 0.375rem;
        }

        .gfield_required {
          font-size: 0.75rem !important;
          color: $pink-one;
          margin-left: -2px;
        }

        input {
          &[type="text"],
          &[type="email"],
          &[type="tel"],
          &[type="file"] {
            font-size: 0.75rem !important;
            border-color: $grey-five;
            border-radius: $border-radius !important;
            box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);

            &::-webkit-input-placeholder {
              color: #c5c5c5;
            }

            &::-moz-placeholder {
              color: #c5c5c5;
            }

            &:-moz-placeholder {
              color: #c5c5c5;
            }

            &::-ms-input-placeholder {
              color: #c5c5c5;
            }
          }
        }

        .select2-container--default {
          .select2-selection--single {
            border-color: $grey-five;
            box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);
          }
        }

        textarea {
          font-size: 0.75rem !important;
          border-color: $grey-five;
          border-radius: $border-radius !important;
          box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);

          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }

          &::-moz-placeholder {
            color: #c5c5c5;
          }

          &:-moz-placeholder {
            color: #c5c5c5;
          }

          &::-ms-input-placeholder {
            color: #c5c5c5;
          }
        }
      }
    }

    .gform_footer {
      justify-content: end;
    }

    input {
      &[type="submit"] {
        font-size: 0.875rem !important;
        font-weight: 600 !important;
        color: white !important;
        text-transform: uppercase !important;
        border-radius: $border-radius !important;
        background-color: $pink-one !important;
      }
    }

    .ginput_container_consent {
      .gfield_consent_label {
        font-size: 0.625rem;
        color: white;
      }
    }
  }
}

.ginput_container_select,
.select2-container--default {
  position: relative;
}

.select2-container--default {
  position: relative;
  min-width: 170px;

  .select2-selection--single {
    position: relative;
    height: 37px;
    font-size: 0.75rem;

    .select2-selection__rendered {
      padding-top: 5px;
    }

    .select2-selection__arrow {
      top: 4px;
    }
  }

  .select2-results__option {
    font-size: 0.75rem;
  }
}

.search-form {
  input {
    &[type="search"] {
      border: none;
      border: 1px solid $grey-five;
      border-radius: $border-radius !important;
      box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);
      outline: none;

      &::-webkit-input-placeholder {
        color: #c5c5c5;
      }

      &::-moz-placeholder {
        color: #c5c5c5;
      }

      &:-moz-placeholder {
        color: #c5c5c5;
      }

      &::-ms-input-placeholder {
        color: #c5c5c5;
      }
    }
  }

  button {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    color: white !important;
    text-transform: uppercase !important;
    border-radius: $border-radius !important;
    box-shadow: none;
    outline: none;
    border: 0;
    padding: 3.1px 10px;
    background-color: $pink-one !important;
  }
}

footer {
  .gform_wrapper {
    form {
      .gfield_required_text {
        display: none !important;
      }

      input {
        &[type="submit"] {
          color: $black-one !important;
          background-color: white !important;
        }
      }

      .gform_footer {
        justify-content: start;
      }
    }
  }
}
