form {
  input {
    &[type="text"],
    &[type="email"],
    &[type="tel"] {
      font-size: 0.75rem !important;
      border-radius: $border-radius !important;
    }

    &[type="submit"] {
      font-size: 0.875rem !important;
      font-weight: 600 !important;
      color: $black-one !important;
      text-transform: uppercase !important;
      border-radius: $border-radius !important;
      background-color: white !important;
    }
  }

  .gfield_required_text {
    display: none !important;
  }

  .ginput_container_consent {
    .gfield_consent_label {
      font-size: 0.625rem;
      color: white;
    }
  }
}

.select2-container--default {
  min-width: 170px;

  .select2-selection--single {
    height: 37px;
    font-size: 0.75rem;

    .select2-selection__rendered {
      padding-top: 5px;
    }

    .select2-selection__arrow {
      top: 7px;
    }
  }
}
