.overtitle,
.subtitle,
.section-title,
.title {
  position: relative;
  display: block;
  color: $black-one;
  margin-bottom: 0;
}

.overtitle,
.section-title {
  font-weight: 700;
}

.overtitle {
  font-family: $merriweather;
  font-size: 1.125rem;
  line-height: 1;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.118rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  padding-left: 2.25rem;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $black-one;
  }
}

.section-title {
  font-size: 2.625rem;
  line-height: 3.938rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.875rem;
    line-height: 2.813rem;
  }

  &.style-two {
    font-family: $merriweather;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.2rem;

    &.large {
      font-size: 2.625rem;
      line-height: 3.299rem;

      @include media-breakpoint-down(sm) {
        font-size: 1.875rem;
        line-height: 2.813rem;
      }
    }

    span,
    b,
    strong {
      font-family: $poppins;
      font-weight: 700;
      color: $pink-one;
      text-transform: uppercase;
      line-height: 3.938rem;
    }
  }
}
