.section {
  &.hero-mag {
    .section-title {
      font-family: $merriweather;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.25rem;

      strong {
        display: block;
        font-family: $poppins;
        font-size: 2.625rem;
        line-height: 3.938rem;
        margin: 6px 0 12px;
      }
    }

    figure {
      box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%);
    }

    .mag {
      height: 543px;

      @include media-breakpoint-down(lg) {
        height: inherit;

        img {
          position: relative;
          top: inherit;
          left: inherit;
          transform: inherit;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .wp-recipes {
      margin-top: 2rem;

      .card-recipe {
        padding: 0.75rem;
        border-radius: $border-radius;
        background-color: white;
        transition: all 0.3s ease-in-out;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          color: white;
          padding: 0;
          border-radius: 100%;
          border-color: $pink-one;
          background-color: $pink-one;

          &:hover {
            color: $pink-one;
            background-color: white;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }

    .wp-buttons {
      margin-top: 1.5rem;
      gap: 1.5rem;
    }
  }
}
